/* Below line is used for online Google font */
@import "http://fonts.googleapis.com/css?family=Ubuntu";

div.container{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}


#skinText{
	margin-top: 0px;
}

.first{
	width:100%; /*before=400*/
	height:540px; /*before=610*/
	box-shadow:0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
	float:left;
	padding:10px 50px 0;
	margin-top: 100px; 
}


select{
	width:400px;/* was changed */
	padding:20px ;
	margin-top:30px;
	margin-left: 110px;
	margin-bottom:35px;
	border-radius:5px;
	border:1px solid #cbcbcb;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
	font-size:16px

}

 input{
	width:400px;/* was changed */
	padding:30px;
	margin-top:50px;
	margin-bottom:35px;
	border-radius:5px;
	border:1px solid #cbcbcb;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
	font-size:16px
}

input[type=submit]{
	background:linear-gradient(to bottom,#22abe9 5%,#36caf0 100%);
	box-shadow:inset 0 1px 0 0 #7bdcf4;
	border:1px solid #0F799E;
	color:#fff;
	font-size:29px;
	font-weight:700;
	cursor:pointer;
	text-shadow:0 1px 0 #13506D;
	padding: 10px 0px;
	margin-left: 190px;
}

/* LASER BUTTON */
input.laser[type=submit]{
	background:linear-gradient(to bottom,#22abe9 5%,#36caf0 100%);
	box-shadow:inset 0 1px 0 0 #7bdcf4;
	border:1px solid #0F799E;
	color:#fff;
	font-size:29px;
	font-weight:700;
	cursor:pointer;
	text-shadow:0 1px 0 #13506D;
	padding: 10px 0px;
	margin-left: 190px;
	margin-bottom: 2px;
	padding-bottom: 5px;
}

